<section class="hero is-info is-left is-fullheight wrapper">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item">No more delays</a>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body content">
    <div class="container has-text-centered height">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="hero-foot">
    <div class="tabs is-boxed is-fullwidth">
      <ul>
        <li><a href="/new">Left</a></li>
        <li><a>Right</a></li>
      </ul>
    </div>
  </div>
</section>
