<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-center">
      <a class="nav-item">
        <h1>No more delays</h1>
      </a>
    </div>
  </div>
</nav>

<section>
  <button class="button is-primary" (click)="loginWithGoogle()" *ngIf="!(user | async)?.uid">Login with Google</button>
  <button class="button is-primary" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  <div class="field">
    <label class="label">Delay</label>
    <div class="control">
      <input class="input" type="text" *ngIf="(user | async)?.uid" placeholder="Delay (in minutes)" />
    </div>
  </div>
  <div class="control">
    <div class="field">
      <label class="label">Line</label>
      <div class="control">
        <div class="select">
          <select>
            <option>L1</option>
            <option>L2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="control">
    <div class="field">
      <label class="label">Station</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Sol</option>
            <option>Atocha</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1>List</h1>
    <p *ngFor="let item of delays | async">{{item | json}}</p>
  </div>
</section>
